*,
*::before,
*::after,
*:hover {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.main-nav {
  position: fixed;
  padding: 0 3rem;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f5e6e0;
  z-index: 1;
  font-weight: 700;
}
.main-nav img {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.linksList {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.item {
  margin-right: 0.75rem;
}
.link {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #000;
  text-decoration: none;
}
.link:hover {
  color: red;
}
.btns-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  margin-top: 7rem;
}
.button-value {
  padding: 1em 2.2em;
  background-color: #003049;
  color: #fff;
  border-radius: 3em;
  cursor: pointer;
  border: none;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
.button-value:hover {
  background-color: #f7f7f7;
  color: #000;
}
.user-name-dropDown {
  position: absolute;
  left: 9rem;
  border: none;
  font-weight: 700;
  background-color: transparent;
  font-size: 1rem;
}
option {
  font-weight: 700;
  background-color: transparent;
}

h2 {
  margin-top: 5rem;
  margin-bottom: 0;
  padding: 0.25rem 2rem;
}

.delete-btn {
  cursor: pointer;
  opacity: 1;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 0.45rem;
  transition: all 0.5s ease-in-out;
  position: absolute;
}

.delete-btn:hover {
  opacity: 1;
}
