@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;

  background-image: url("../../assets/images/bg_hero.svg");

  background-color: #fff;
}
::selection {
  color: #fff;
  background: #003f62;
}
.container {
  width: 340px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 50px 35px 10px 35px;
}
.container header {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}
.container .form-outer {
  width: 100%;
  overflow: hidden;
}
.container .form-outer form {
  display: flex;
  width: 400%;
}
.form-outer form .page {
  width: 25%;
  position: relative;
  transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .field {
  width: 330px;
  height: 45px;
  margin: 45px 0;
  display: flex;

  position: relative;
}
.userDataPage {
  position: relative;
}
form .page .field .label {
  position: absolute;
  top: -20px;
  bottom: 10px;
  font-weight: 500;
}
form .page .field input {
  height: 100%;
  width: 85%;
  border: 1px solid lightgrey;
  border-radius: 5px;

  padding-left: 45px;
  padding-right: 0px;
  margin-bottom: 10px;

  font-size: 18px;
}
.inputFname {
  height: 50px;
  width: 100%;
  position: relative;
}
.inputEmail {
  height: 50px;
  width: 100%;
  position: relative;
}
.inputPhone {
  height: 50px;
  width: 100%;
  position: relative;
}
.inputUser {
  height: 50px;
  width: 100%;
  position: relative;
}
.inputPassword {
  height: 50px;
  width: 100%;
  position: relative;
}
.input-area {
  height: 50px;
  width: 100%;
  position: relative;
}
.inputFname i {
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
.inputEmail i {
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
.inputPhone i {
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
.inputUser i {
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
.inputPassword i {
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
.input-area i {
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
.inputFname .icon {
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}
.inputEmail .iconEmail {
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}
.inputPhone .iconPhone {
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}
.inputUser .iconUser {
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}
.inputPassword .iconPass {
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}

.input-area .icon {
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}
.inputFname .error-icon {
  display: none;
  right: 15px;
  color: #dc3545;
}
.inputEmail .error-icon {
  display: none;
  right: 15px;
  color: #dc3545;
}
.inputPhone .error-icon {
  display: none;
  right: 15px;
  color: #dc3545;
}
.inputUser .error-icon {
  display: none;
  right: 15px;
  color: #dc3545;
}
.inputPassword .error-icon {
  display: none;
  right: 15px;
  color: #dc3545;
}
.input-area .error-icon {
  display: none;
  right: 15px;
  color: #dc3545;
}
form .page .field select {
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
.firstNext {
  position: absolute;
}
/*the new one*/
.emailPhone {
  position: absolute;
  top: 20px;
}
#userPass {
  position: absolute;
  bottom: -30px;
}
form .page .field .btnN {
  /* position: absolute; */
  top: 25px;
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #003f62;
  margin-top: -20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
form .page .field .btnN:hover {
  background: #eda415;
}
form .page .btns .btnN {
  margin-top: -20px !important;
}
form .page .btns .prev {
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns .next {
  margin-left: 3px;
}

.container .progress-bar {
  display: flex;
  margin: 40px 0;
  user-select: none;
}
.container .progress-bar .step {
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p {
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}
.progress-bar .step .bullet {
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active {
  border-color: #5cef49;
  background: #5cef49;
}
.progress-bar .step .bullet span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span {
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
  position: absolute;
  content: "";
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #262626;
}
.progress-bar .step .bullet.active:after {
  background: #5cef49;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
  display: none;
}
.progress-bar .step p.active {
  color: #5cef49;
  transition: 0.2s linear;
}
.progress-bar .step .check {
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active {
  display: block;
  color: #fff;
}

.spMessage {
  display: none;

  position: absolute;
  padding: 10px;
  padding-left: 5px;
  padding-bottom: 10px;

  color: #dc3545;
  text-align: left;
  margin-top: 10px;

  font-size: 15px;
  /* color: red; */
  bottom: -40px;
  left: 0px;
}
#spMessage2,
#spMessage3,
#spMessage4,
#spMessage5,
#spMessage6 {
  display: none;

  position: absolute;
  padding: 10px;
  padding-left: 5px;
  padding-bottom: 10px;

  color: #dc3545;
  text-align: left;
  margin-top: 10px;

  font-size: 15px;
  /* color: red; */
  bottom: -40px;
  left: 0px;
}
#spMessage5,
#spMessage6 {
  position: absolute;

  bottom: -55px;
}
.icon {
  left: 15px;
  color: #bfbfbf;

  transition: color 0.2s ease;
}
